<nav class="navbar">

    <div class="logo">
        TalentMatch
    </div>

    <ul class="nav-links">

        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <li>
            <a routerLink="/hr-login" routerLinkActive="active">HR Login</a>
        </li>

        <li>
            <a routerLink="/candidate-login" routerLinkActive="active">Candidate Login</a>
        </li>

        <li>
            <a routerLink="/hr-signup" routerLinkActive="active">HR Sign Up</a>
        </li>

        <li>
            <a routerLink="/candidate-signup" routerLinkActive="active">Candidate Sign Up</a>
        </li>

    </ul>

</nav>