<p>hr-sidebar works!</p>
<div class="sidebar">

    <h2 class="logo">TalentMatch</h2>

    <ul>

        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                Dashboard
            </a>
        </li>

        <li>
            <a routerLink="/jobs" routerLinkActive="active">
                Jobs
            </a>
        </li>

        <li>
            <a routerLink="/candidates" routerLinkActive="active">
                Candidates
            </a>
        </li>

        <li>
            <a routerLink="/results" routerLinkActive="active">
                Results
            </a>
        </li>

        <li>
            <a routerLink="/profile" routerLinkActive="active">
                Profile
            </a>
        </li>

        <li>
            <a routerLink="/home">
                Logout
            </a>
        </li>

    </ul>

</div>