<app-hr-sidebar></app-hr-sidebar>

<div class="profile-container">

    <div class="profile-card">

        <h2>HR Profile</h2>

        <div class="profile-image">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                 alt="Profile">
        </div>

        <div class="profile-details">

            <div class="row">
                <label>Full Name</label>

                <input
                    type="text"
                    [(ngModel)]="profile.fullName"
                    [readonly]="!editMode">
            </div>

            <div class="row">
                <label>Company</label>

                <input
                    type="text"
                    [(ngModel)]="profile.companyName"
                    [readonly]="!editMode">
            </div>

            <div class="row">
                <label>Email</label>

                <input
                    type="email"
                    [(ngModel)]="profile.email"
                    [readonly]="!editMode">
            </div>

            <div class="row">
                <label>Phone</label>

                <input
                    type="text"
                    [(ngModel)]="profile.phone"
                    [readonly]="!editMode">
            </div>

            <div class="row">
                <label>Role</label>

                <input
                    type="text"
                    [(ngModel)]="profile.role"
                    readonly>
            </div>

        </div>

        <div class="buttons">

            <button
                class="edit-btn"
                *ngIf="!editMode"
                (click)="editProfile()">
                Edit Profile
            </button>

            <button
                class="edit-btn"
                *ngIf="editMode"
                (click)="saveProfile()">
                Save
            </button>

          

        </div>

    </div>

</div>