<app-hr-sidebar></app-hr-sidebar>

<div class="profile-container">

    <div class="profile-card">

        <h2>HR Profile</h2>

        <div class="profile-image">

            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                 alt="Profile">

        </div>

        <div class="profile-details">

            <div class="row">
                <label>Full Name</label>
                <span>{{profile.name}}</span>
            </div>

            <div class="row">
                <label>Company</label>
                <span>{{profile.company}}</span>
            </div>

            <div class="row">
                <label>Email</label>
                <span>{{profile.email}}</span>
            </div>

            <div class="row">
                <label>Phone</label>
                <span>{{profile.phone}}</span>
            </div>

            <div class="row">
                <label>Role</label>
                <span>{{profile.role}}</span>
            </div>

            <div class="row">
                <label>Address</label>
                <span>{{profile.address}}</span>
            </div>

        </div>

        <div class="buttons">

            <button class="edit-btn">
                Edit Profile
            </button>

            <button class="password-btn">
                Change Password
            </button>

        </div>

    </div>

</div>