<div class="forgot-container">

    <div class="forgot-card">

        <h2>Forgot Password</h2>

        <p>Enter your registered email to reset your password.</p>

        <form (ngSubmit)="resetPassword()">

            <label>Email</label>

            <input
                type="email"
                name="email"
                [(ngModel)]="forgotPassword.email"
                placeholder="Enter Email"
                required>

            <label>New Password</label>

            <input
                type="password"
                name="password"
                [(ngModel)]="forgotPassword.newPassword"
                placeholder="Enter New Password"
                required>

            <label>Confirm Password</label>

            <input
                type="password"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                placeholder="Confirm Password"
                required>

            <button type="submit">
                Reset Password
            </button>

        </form>

        <br>

        <a routerLink="/hr-login">Back to Login</a>

    </div>

</div>