<app-hr-sidebar></app-hr-sidebar>

<div class="add-job-container">

    <div class="job-card">

        <h2>Post a New Job</h2>

        <form>

            <!-- Job Title -->
            <label>Job Title</label>
            <input
                type="text"
                [(ngModel)]="job.jobTitle"
                name="jobTitle"
                placeholder="Enter Job Title">

            <!-- Company Name -->
            <label>Company Name</label>
            <input
                type="text"
                [(ngModel)]="job.companyName"
                name="companyName"
                placeholder="Enter Company Name">

            <!-- Required Skills -->
            <label>Required Skills</label>
            <input
                type="text"
                [(ngModel)]="job.requiredSkills"
                name="requiredSkills"
                placeholder="Java, Spring Boot, MySQL">

            <!-- Experience -->
            <label>Experience</label>
            <input
                type="text"
                [(ngModel)]="job.experience"
                name="experience"
                placeholder="2 Years">

            <!-- Salary -->
            <label>Salary</label>
            <input
                type="text"
                [(ngModel)]="job.salary"
                name="salary"
                placeholder="600000">

            <!-- Location -->
            <label>Location</label>
            <input
                type="text"
                [(ngModel)]="job.location"
                name="location"
                placeholder="Hyderabad">

            <!-- Job Description -->
            <label>Job Description</label>

            <textarea
                rows="5"
                [(ngModel)]="job.jobDescription"
                name="jobDescription"
                placeholder="Enter Job Description">
            </textarea>

            <div class="button-group">

                <button
                    type="button"
                    class="save-btn"
                    (click)="saveJob()">

                    Save Job

                </button>

                <button
                    type="button"
                    class="cancel-btn"
                    routerLink="/jobs">

                    Cancel

                </button>

            </div>

        </form>

    </div>

</div>