<app-hr-sidebar></app-hr-sidebar>

<div class="job-container">

    <div class="header">

        <h1>Job Management</h1>

        <button
            class="add-btn"
            routerLink="/add-job">

            + Post New Job

        </button>

    </div>

    <table>

        <thead>

            <tr>

                <th>Job Title</th>
                <th>Company Name</th>
                <th>Required Skills</th>
                <th>Experience</th>
                <th>Salary</th>
                <th>Location</th>
                <th>Job Description</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let job of jobs">

                <td>{{ job.jobTitle }}</td>

                <td>{{ job.companyName }}</td>

                <td>{{ job.requiredSkills }}</td>

                <td>{{ job.experience }}</td>

                <td>{{ job.salary }}</td>

                <td>{{ job.location }}</td>

                <td>{{ job.jobDescription }}</td>

                <td>

                    <button
                        class="edit-btn"
                        (click)="editJob(job.id!)">

                        Edit

                    </button>

                    <button
                        class="delete-btn"
                        (click)="deleteJob(job.id!)">

                        Delete

                    </button>

                </td>

            </tr>

        </tbody>

    </table>

</div>