<div class="signup-container">

    <div class="signup-card">

        <h2>HR Registration</h2>

        <p>Create your HR account</p>

        <form (ngSubmit)="register()">

            <label>Full Name</label>
            <input
                type="text"
                name="fullName"
                [(ngModel)]="user.fullName"
                placeholder="Enter Full Name">

            <label>Company Name</label>
            <input
                type="text"
                name="companyName"
                [(ngModel)]="user.companyName"
                placeholder="Enter Company Name">

            <label>Email</label>
            <input
                type="email"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter Email">

            <label>Phone Number</label>
            <input
                type="text"
                name="phone"
                [(ngModel)]="user.phone"
                placeholder="Enter Phone Number">

            <label>Password</label>
            <input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                placeholder="Create Password">

            <label>Confirm Password</label>
            <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password">

            <button type="submit">
                Register
            </button>

        </form>

        <div class="login-link">
            Already have an account?
            <a routerLink="/hr-login">
                Login
            </a>
        </div>

    </div>

</div>