<div class="signup-container">

    <div class="signup-card">

        <h2>HR Registration</h2>

        <p>Create your HR account</p>

        <form>

            <label>Full Name</label>
            <input
            type="text"
            placeholder="Enter Full Name">

            <label>Company Name</label>
            <input
            type="text"
            placeholder="Enter Company Name">

            <label>Email</label>
            <input
            type="email"
            placeholder="Enter Email">

            <label>Phone Number</label>
            <input
            type="text"
            placeholder="Enter Phone Number">

            <label>Password</label>
            <input
            type="password"
            placeholder="Create Password">

            <label>Confirm Password</label>
            <input
            type="password"
            placeholder="Confirm Password">

            <button type="submit">
                Register
            </button>

        </form>

        <div class="login-link">

            Already have an account?

            <a routerLink="/hr-login">
                Login
            </a>

        </div>

    </div>

</div>