<app-candidate-sidebar></app-candidate-sidebar>

<div class="dashboard-container">

    <h1>Candidate Dashboard</h1>

    <p class="welcome">
        Welcome to TalentMatch
    </p>

    <div class="cards">

        <div class="card">

            <h2>Available Jobs</h2>

            <h3>15</h3>

        </div>

        <div class="card">

            <h2>Applied Jobs</h2>

            <h3>2</h3>

        </div>

        <div class="card">

            <h2>Interview Invitations</h2>

            <h3>1</h3>

        </div>

    </div>

    <div class="quick-actions">

        <h2>Quick Actions</h2>

        <button routerLink="/apply-job">

            View Available Jobs

        </button>

        <button routerLink="/my-applications">

            My Applications

        </button>

    </div>

</div>