<app-navbar></app-navbar>

<div class="home-container">

    <div class="hero-section">

        <h1>TalentMatch</h1>

        <h3>AI Skill Matrix Evaluator & Interview Assistant</h3>

        <p>
            A smart recruitment platform that helps organizations
            identify the best candidates using Artificial Intelligence.
        </p>

    </div>

    <div class="portal-container">

        <div class="portal-card">

            <h2>HR Portal</h2>

            <p>
                Manage job postings, monitor candidates,
                review interview results and hire the best talent.
            </p>

            <button routerLink="/hr-login">
                HR Login
            </button>

        </div>

        <div class="portal-card">

            <h2>Candidate Portal</h2>

            <p>
                Browse available jobs, upload your resume,
                attend AI interviews and track your application.
            </p>

            <button routerLink="/candidate-login">
                Candidate Login
            </button>

        </div>

    </div>

</div>
<app-footer></app-footer>