<div class="login-container">

    <div class="login-card">

        <h2>HR Login</h2>

        <p>Login to manage recruitment activities.</p>

        <form (ngSubmit)="login()">

            <label>Email</label>

            <input
                type="email"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Enter Email">

            <label>Password</label>

            <input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                placeholder="Enter Password">

            <button type="submit">
                Login
            </button>

        </form>

        <div class="links">

            <a routerLink="/hr-signup">
                Create New Account
            </a>

            <a (click)="forgotPassword()">
         Forgot Password?
            </a>

        </div>

    </div>

</div>