<p>candidate-sidebar works!</p>
<div class="sidebar">

    <h2 class="logo">TalentMatch</h2>

    <ul>

        <li>
            <a routerLink="/candidate-dashboard" routerLinkActive="active">
                Dashboard
            </a>
        </li>

        <li>
            <a routerLink="/apply-job" routerLinkActive="active">
                Apply Job
            </a>
        </li>

        <li>
            <a routerLink="/my-applications" routerLinkActive="active">
                My Applications
            </a>
        </li>

        <li>
            <a routerLink="/candidate-profile">Profile</a>
        </li>

        <li>
            <a routerLink="/home">
                Logout
            </a>
        </li>

    </ul>

</div>